<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="botones-usuario">
 <template>
   <style>
     :host {
       display: block;
       font-family: Helvetica;
     }
     .container{
       width: 100%;
       max-width: 600px;
       margin: 0 auto;
       padding: 100px 0;
       padding-top: 10px;
     }
     .container .btn-outline-success{
       background: white;
       color: black;
       border-color:#0b8585
     }
     .container .btn-outline-success:hover {
      background-color: #0b8585
     }
     .container{   padding-bottom: 30px;}
   </style>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

     <div hidden$="{{contBotonesUsuario}}" class="container">
       <button class="btn btn-outline-success my-2 my-sm-0" on-click="panelagregar">agregar</button>
       <button class="btn btn-outline-success my-2 my-sm-0" on-click="panelmodificar">modificar</button>
       <button class="btn btn-outline-success my-2 my-sm-0" on-click="paneleliminar">eliminar</button>
       <button class="btn btn-outline-success my-2 my-sm-0" on-click="panelconsultar">consultar</button>
     </div>


 </template>


 <script>
   /**
    * @customElement
    * @polymer
    */
   class BotonesUsuario extends Polymer.Element {
     static get is() { return 'botones-usuario'; }
     static get properties() {
       return {
         contBotonesUsuario:{
           type: Boolean,
           value: true
         },email:{
           type:String
         }
       };
     }

     mostrarDatosRecibidosusuarios(data){
       console.log(" Boton Receptor:"+JSON.stringify(data));
       console.log(data.email);
       console.log(data.contBotonesUsuario);
       this.email = data.email;
       this.contBotonesUsuario=data.contBotonesUsuario;
     }

     panelagregar() {
       console.log("pulsa boton agregar");
       this.contCuentasUsuario=true;
       this.contMovimientosCuenta=true;
       this.contCrearMovimiento=true;
       this.contModificarUsuario=true;
       this.contConsultaUsuario=true;
       this.contEliminarUsuario=true;
       this.mensajeAgregar=true;
       this.mensajeErrorAgregar=true;
       this.contAgregarUsuario=false;
       this.dispatchEvent(new CustomEvent('panelagregar', {detail:{email:this.email,idusu:this.idusu,contCuentasUsuario:this.contCuentasUsuario,contMovimientosCuenta:this.contMovimientosCuenta,contAgregarUsuario:this.contAgregarUsuario,contModificarUsuario:this.contModificarUsuario,contEliminarUsuario:this.contEliminarUsuario,contConsultaUsuario:this.contConsultaUsuario,mensajeAgregar:this.mensajeAgregar,mensajeErrorAgregar:this.mensajeErrorAgregar, contCrearMovimiento: this.contCrearMovimiento}}))
    }

    panelmodificar() {
      console.log("pulsa boton modificar");
      this.contCuentasUsuario=true;
      this.contMovimientosCuenta=true;
      this.contCrearMovimiento=true;
      this.contAgregarUsuario=true;
      this.contEliminarUsuario=true;
      this.contConsultaUsuario=true;
      this.mensajeModificar=true;
      this.mensajeErrorModificar=true;
      this.contModificarUsuario=false;
      this.dispatchEvent(new CustomEvent('panelmodificar', {detail:{email:this.email,idusu:this.idusu,contCuentasUsuario:this.contCuentasUsuario,contMovimientosCuenta:this.contMovimientosCuenta,contAgregarUsuario:this.contAgregarUsuario,contModificarUsuario:this.contModificarUsuario,contEliminarUsuario:this.contEliminarUsuario,contConsultaUsuario:this.contConsultaUsuario,mensajeModificar:this.mensajeModificar,mensajeErrorModificar:this.mensajeErrorModificar, contCrearMovimiento: this.contCrearMovimiento}}))
   }

   paneleliminar() {
     console.log("pulsa boton eliminar");
     this.contCuentasUsuario=true;
     this.contMovimientosCuenta=true;
     this.contCrearMovimiento=true;
     this.contAgregarUsuario=true;
     this.contModificarUsuario=true;
     this.contConsultaUsuario=true;
     this.mensajeEliminar=true;
     this.mensajeErrorEliminar=true;
     this.contEliminarUsuario=false;
     this.dispatchEvent(new CustomEvent('paneleliminar', {detail:{email:this.email,idusu:this.idusu,contCuentasUsuario:this.contCuentasUsuario,contMovimientosCuenta:this.contMovimientosCuenta,contAgregarUsuario:this.contAgregarUsuario,contModificarUsuario:this.contModificarUsuario,contEliminarUsuario:this.contEliminarUsuario,contConsultaUsuario:this.contConsultaUsuario,mensajeEliminar:this.mensajeEliminar,mensajeErrorEliminar:this.mensajeErrorEliminar, contCrearMovimiento: this.contCrearMovimiento}}))
     console.log(this.email);
     console.log(this.contBotonesUsuario);
  }

    panelconsultar() {
      console.log("pulsa boton consultas");
      this.contCuentasUsuario=true;
      this.contMovimientosCuenta=true;
      this.contCrearMovimiento=true;
      this.contAgregarUsuario=true;
      this.contModificarUsuario=true;
      this.contEliminarUsuario=true;
      this.contConsultaUsuario=false;
      this.dispatchEvent(new CustomEvent('panelconsultar', {detail:{email:this.email,idusu:this.idusu,contCuentasUsuario:this.contCuentasUsuario,contMovimientosCuenta:this.contMovimientosCuenta,contAgregarUsuario:this.contAgregarUsuario,contModificarUsuario:this.contModificarUsuario,contEliminarUsuario:this.contEliminarUsuario,contConsultaUsuario:this.contConsultaUsuario, contCrearMovimiento: this.contCrearMovimiento}}))
      console.log(this.email);
      console.log(this.contBotonesUsuario);
   }
   }
   window.customElements.define(BotonesUsuario.is, BotonesUsuario);
 </script>
</dom-module>
