<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="cuentas-usuario">
 <template>
   <style>
     :host {
       display: block;
       font-family: Helvetica;
     }
     .container{
       width: 100%;
       max-width: 600px;
       margin: 0 auto;
       padding: 100px 0;
       padding-top: 10px;
     }
     .container h4{
       font-family: Helvetica;
       color: white;
     }
     .container .table .thead-dark th{
       background:  #0672ca !important
     }
     .container .table-bordered th{
       background: white
     }
     .container .table-bordered td{
       background: white
     }
   </style>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

     <div hidden$="{{contCuentasUsuario}}" class="container">
         <h4 class="col-md-5">Usuario: {{first_name}} {{last_name}}</h2>
         <h4 class="col-md-5">Email: {{email}}</h2>
        <!-- <button class="btn btn-link">
           <a href="http://localhost:3001/colapi/v3/users/{{id}}/account">Ver mis cuentas</a>
         </button>-->
        <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Cuenta</th>
            <th scope="col">Saldo</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <template is="dom-repeat" id="accountUser" items="{{account}}">
            <tr>
                <th scope="row">{{item.idCuenta}}</th>
                <td>{{item.balance}}</td>
                <td><button  class="btn btn-primary" on-click="panelmovimientos">Ver Movimientos</button></td>
                <td><button  class="btn btn-primary" on-click="paneltransferencia">Depositar efectivo</button></td>
          </tr>
        </template>
       </table>
       <div hidden$="{{mensajeErrorCuentas}}"class="alert alert-danger">
         <strong>El usuario no tiene cuentas asociadas</strong>
       </div>
   </div>
   <iron-ajax
     auto=""
     id="getUser"
     url="http://localhost:3000/api-uruguay/v1/usersmlab/{{idr}}"
     handle-as="json"
     on-response="showData"
     on-error="showError"></iron-ajax>
    <iron-ajax
       auto=""
       id="getAccount"
       url="http://localhost:3000/api-uruguay/v1/usersmlab/{{idr}}/account"
       handle-as="json"
       on-response="showAccount"
       on-error="showError"></iron-ajax>
 </template>


 <script>
   /**
    * @customElement
    * @polymer
    */
   class CuentasUsuario extends Polymer.Element {
     static get is() { return 'cuentas-usuario'; }
     static get properties() {
       return {
         idcue:{
           type:String
         },
         first_name: {
           type: String
         },
         last_name: {
           type: String
         },
         email: {
           type: String
         },
         account: {
           type: Array
         },
         idr:{
           type:String
         },
         contCuentasUsuario:{
           type:Boolean,
           value:true
         },
         contMovimientosCuenta:{
           type:Boolean
         },
         contCrearMovimiento:{
           type:Boolean
         },
         mensajeErrorCuentas:{
           type: Boolean,
           value: true
         }
       };
     }
     showData(data){
        console.log("Recibidos datos del usuarios cuentas:");
        this.idr = data.detail.response.id;
        this.first_name = data.detail.response.first_name;
        this.last_name = data.detail.response.last_name;
        this.email = data.detail.response.email;
        this.mensajeErrorCuentas=true;
      }

      showAccount(data){
         console.log("Recibidos datos del usuarios en cuentas:");
         console.log(data.detail.response[0]);
         this.idcue = data.detail.response[0].idCuenta;
         this.idr = data.detail.response[0].idUsuario;
         this.account = data.detail.response;
         this.mensajeErrorCuentas=true;
       }

       panelmovimientos(e){
         console.log("pulsa boton movimientos: ");
         this.contMovimientosCuenta=false;
         this.contCrearMovimiento=true;
         this.contCuentasUsuario=false;
         this.contAgregarUsuario=true;
         this.contBotonesUsuario=true;
         this.contModificarUsuario=true;
         this.contConsultaUsuario=true;
         this.contEliminarUsuario=true;
         this.mensajeErrorCuentas=true;
         this.dispatchEvent(new CustomEvent('panelmovimientos', {detail:{email:this.email,idr:this.idr,idcue:this.idcue,contMovimientosCuenta:this.contMovimientosCuenta, contAgregarUsuario:this.contAgregarUsuario, contModificarUsuario:this.contModificarUsuario, contEliminarUsuario:this.contEliminarUsuario,contBotonesUsuario:this.contBotonesUsuario, contCrearMovimiento:this.contCrearMovimiento, mensajeErrorCuentas: this.mensajeErrorCuentas}}))
         this.$.getAccount.generateRequest();
       }

       paneltransferencia(e){
         console.log("pulsa boton transferencia: ");
         this.contMovimientosCuenta=true;
         this.contCrearMovimiento=false;
         this.contCuentasUsuario=false;
         this.contAgregarUsuario=true;
         this.contBotonesUsuario=true;
         this.contModificarUsuario=true;
         this.contConsultaUsuario=true;
         this.contEliminarUsuario=true;
         this.mensajeAgregarMovimiento=true;
         this.mensajeErrorAgregarMovimiento=true;
         this.mensajeErrorCuentas=true;
         this.dispatchEvent(new CustomEvent('paneltransferencia', {detail:{email:this.email,idr:this.idr,idcue:this.idcue,contMovimientosCuenta:this.contMovimientosCuenta, contAgregarUsuario:this.contAgregarUsuario, contModificarUsuario:this.contModificarUsuario, contEliminarUsuario:this.contEliminarUsuario,contBotonesUsuario:this.contBotonesUsuario, contCrearMovimiento: this.contCrearMovimiento, mensajeAgregarMovimiento: this.mensajeAgregarMovimiento, mensajeErrorAgregarMovimiento: this.mensajeErrorAgregarMovimiento, mensajeErrorCuentas: this.mensajeErrorCuentas}}))
       }

       mostrarDatosRecibidoscuentas(data){
         console.log("pulsa boton cuenta: ");
         console.log(data);
        this.idr=data.idusu;
        this.contCuentasUsuario=data.contCuentasUsuario;
        this.mensajeErrorCuentas=data.mensajeErrorCuentas;
       }

       mostrarDatosCuentaActualizados(data){
        this.idr=data.idusu;
        this.contCuentasUsuario=data.contCuentasUsuario;
        this.mensajeErrorCuentas=true;
       }

       showError(error) {
         console.log("Hubo un error");
         console.log(error);
         this.mensajeErrorCuentas=false;
       }

   }
   window.customElements.define(CuentasUsuario.is, CuentasUsuario);
 </script>
</dom-module>
