<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
 <template>
   <style>
     :host {
       display: block;
     }
     .container h1{
       font-family: Helvetica;
       color: white;
     }
   </style>



   <!-- <app-localstorage-document key="data.local" data="{{islog}}"></app-localstorage-document> -->

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
     <div hidden$="{{logueado}}" class="container">
       <h1 class="col-md-12">Login Usuario</h1>
       <br />
         <div class="card" style="width: 30rem;" alt="Responsive card">
           <div class="card-body">
             <div class="form-group">
               <label for="exampleInputEmail1">Email address</label>
               <input type="email" class="form-control" id="exampleInputEmail1" on-click="myFunction" placeholder="Enter email" value="{{email::input}}">
             </div>
             <div class="form-group">
               <label for="exampleInputPassword1">Password</label>
               <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" value="{{password::input}}">
             </div>
             <button  class="btn btn-primary" on-click="login">Login</button><br></br>
             <div hidden$="{{mensajeErrorLogin}}" class="alert alert-danger">
              <strong>Email o Password incorrecto</strong>
            </div>
           </div>
        </div>
     </div>

    <iron-localstorage name="techu.jwt" value="{{jwt}}"></iron-localstorage>
     <iron-ajax id="hacerLogin"
                url="http://localhost:3000/api-uruguay/v1/login"
                method="POST"
                content-type="application/json"
               handle-as="json"
               body="[[body]]"
                on-response="mostrarResultadoLogin"
                on-error="mostrarError">
     </iron-ajax>

 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class LoginUsuario extends Polymer.Element {
     static get is() { return 'login-usuario'; }
     static get properties() {
       return {
         email: {
           type: String
         },
         password: {
           type: String
         },
         first_name: {
           type: String
         },
         last_name: {
           type: String
         },
         idusu:{
           type: String
         },
         logueado: {
           type: Boolean,
           value: false
         },
         ishome:{
           type:Boolean,
           value:false
         },
         body: {
           type: String
         },
         mensajeErrorLogin:{
           type:Boolean,
           value:true
         },
         jwt:{
           type: String
         },
       };
     }

      mostrarResultadoLogin(resultado) {

       this.first_name = resultado.detail.response.bodyEnviar.first_name;
       this.last_name =resultado.detail.response.bodyEnviar.last_name;
       this.idusu=resultado.detail.response.bodyEnviar.id;


       if (resultado.detail.response.bodyEnviar.email!=undefined || resultado.detail.response.bodyEnviar.password!=undefined ) {
          this.logueado=true;
          this.ishome=false;
        } else {
          this.logueado=false;
          this.ishome=true;
          this.mensajeErrorLogin=false;
        }

        console.log(resultado.detail.response.bodyEnviar.email);
        this.jwt = resultado.detail.response.jwt; //(en la respueta de la api viene el jwt)
        console.log(this.jwt);
        this.dispatchEvent(new CustomEvent('loginOK', {detail:{email:this.email,first_name:this.first_name,last_name:this.last_name,logueado:this.isLogged,ishome:this.ishome,idusu:this.idusu}}))
      }

      login() {
       console.log("1. El usuario ha pulsado el botón");

       var jsBody={
         "email": this.email,
         "password": this.password
       }

       this.body = JSON.stringify(jsBody);
       this.$.hacerLogin.generateRequest();
      }

      myFunction(){
        this.mensajeErrorLogin=true;
      }

      mostrarError(error) {
      console.log("Hubo un error");
      console.log(error.detail.request.response.mensaje[0]);
      for (var i in error.detail.request.response)
        console.log(error.detail.request.response[i]);
      this.logueado = false;
      this.mensajeErrorLogin=false;
      }

      mostrarDatosRecibidos(data){
      console.log("Receptor:"+JSON.stringify(data));
      this.ishome= data.ishome;
      this.logueado=data.logueado;
      this.email= data.email;
      this.password=data.password;
      this.mensajeErrorLogin=data.mensajeErrorLogin;
      }
   }

   window.customElements.define(LoginUsuario.is, LoginUsuario);
 </script>
</dom-module>
