
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="agregar-usuario">
 <template>
   <style>
     :host {
       display: block;
       font-family: Helvetica;
     }
     .container{
       width: 100%;
       max-width: 600px;
       margin: 0 auto;
       padding: 100px 0;
       padding-top: 10px;
     }
     .container .btn-outline-success{
       background: white;
       color: black;
       border-color:#0b8585
     }
     .container .btn-outline-success:hover {
      background-color: #0b8585
     }
     .btn-primary{
       background: #0b8585!important;
     }
     .container h3{color: white}
   </style>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

     <div hidden$="{{contAgregarUsuario}}" class="container">
       <h3>Agregar Usuario</h3>
       <input type="first_name" class="form-control" id="first_name"  placeholder="Enter first_name" value="{{first_name::input}}"></br>
       <input type="last_name" class="form-control" id="last_name"  placeholder="Enter last_name" value="{{last_name::input}}"></br>
       <input type="email" class="form-control" id="exampleInputEmail1"  placeholder="Enter email" value="{{email::input}}"></br>
       <input type="password" class="form-control" id="password" placeholder="Enter password" value="{{password::input}}"></br>
       <button  class="btn btn-primary" on-click="agregar">agregar</button><br></br>
       <div hidden$="{{mensajeAgregar}}"class="alert alert-success">
         <strong>El usuario se ha agregado el usuario correctamente</strong>
       </div>
       <div hidden$="{{mensajeErrorAgregar}}"class="alert alert-danger">
          <strong>{{message::input}}</strong>
       </div>
     </div>

     <iron-ajax
       id="doagregar"
       url="http://localhost:3000/api-uruguay/v1/usersmlab"
       content-type="application/json"
       method="POST"
       handle-as="json"
       on-response="manageAJAXResponse"
       on-error="showError">

 </template>


 <script>
   /**
    * @customElement
    * @polymer
    */
   class AgregarUsuario extends Polymer.Element {
     static get is() { return 'agregar-usuario'; }
     static get properties() {
       return {
         contAgregarUsuario:{
           type: Boolean,
           value: true
         },
         email: {
           type: String
         },
         password: {
           type: String
         },
         first_name: {
           type: String
         },
         last_name: {
           type: String
         },
         id: {
           type: String
         },
         mensajeAgregar:{
          type:Boolean,
          value: true
        },
         mensajeErrorAgregar:{
           type: Boolean,
           value: true
         },
         message: {
           type: String
         }
       };
     }

     agregar(e) {
       console.log("El usuario ha pulsado el botón agregar");
       var agregarData = {
         "first_name" : this.first_name,
         "last_name" : this.last_name,
         "email" : this.email,
         "password" : this.password
       };
       this.$.doagregar.body = JSON.stringify(agregarData);
       this.$.doagregar.generateRequest();
     }

     mostrarDatosRecibidosAgregar(data){
       console.log("Receptor home:"+JSON.stringify(data));
       this.contAgregarUsuario=data.contAgregarUsuario;
       this.mensajeAgregar=data.mensajeAgregar;
       this.mensajeErrorAgregar=data.mensajeErrorAgregar;
     }

     manageAJAXResponse(data) {
       console.log("Recibida respuesta del servidor para agregar usuario");
       this.first_name = data.detail.response.first_name;
       this.last_name =data.detail.response.last_name;
       this.ideli=data.detail.response.id;
       this.email = data.detail.response.email;
       this.password = data.detail.response.password;
       this.mensajeAgregar=false;
       this.mensajeErrorAgregar=true;
     }

     showError(error) {
      //  console.log("Hubo un error");
      //  console.log(error);
      //  this.mensajeErrorAgregar=false;
       console.log("Hubo un error");
       this.message="";

       for (var i in error.detail.request.response)
       {
         if (i == "mensaje"){
            console.log(error.detail.request.response[i][0]);
            console.log(error.detail.request.response[i].resultado);
            this.message+="Parametros incorrectos";
          }
       }
       if (this.message == "")
        this.message = "Ha ocurrido un error procesando su solicitud"

       this.mensajeErrorAgregar=false;
     }

   }
   window.customElements.define(AgregarUsuario.is, AgregarUsuario);
 </script>
</dom-module>
