<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<!-- <link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html"> -->

<dom-module id="modificar-usuario">
 <template>
   <style>
     :host {
       display: block;
       font-family: Helvetica;
     }
     .container{
       width: 100%;
       max-width: 600px;
       margin: 0 auto;
       padding: 100px 0;
       padding-top: 10px;
     }
     .container .btn-outline-success{
       background: white;
       color: black;
       border-color:#0b8585
     }
     .container .btn-outline-success:hover {
      background-color: #0b8585
     }
     .btn-primary{
       background: #0b8585!important;
     }
    .container h3{color: white}
    .container hr{background: white}
   </style>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

     <div hidden$="{{contModificarUsuario}}" class="container">
       <h3>Modificar Usuario</h3>
       <input type="id" class="form-control" id="idusuario"  placeholder="User to modify" value="{{idModificar::input}}" required><hr/></br>
       <input type="first_name" class="form-control" id="first_name"  placeholder="Enter first_name" value="{{first_name::input}}" required></br>
       <input type="last_name" class="form-control" id="last_name"  placeholder="Enter last_name" value="{{last_name::input}}" required></br>
       <input type="email" class="form-control" id="exampleInputEmail1"  placeholder="Enter email" value="{{email::input}}"required></br>
       <input type="password" class="form-control" id="password" placeholder="Enter password" value="{{password::input}}" required></br>
       <button  class="btn btn-primary" on-click="modificar">modificar</button>
       <br></br>
       <div hidden$="{{mensajeModificar}}"class="alert alert-success">
         <strong>El usuario se ha modificado correctamente</strong>
       </div>
       <!-- <div hidden$="{{mensajeErrorModificar}}"class="alert alert-danger">
         <strong>Ha ocurrido un error procesando su solicitud</strong>
       </div> -->
       <div hidden$="{{mensajeErrorModificar}}"class="alert alert-danger">
         <strong>{{message::input}}</strong>
       </div>
     </div>

     <iron-ajax
       id="domodificar"
       url="http://localhost:3000/api-uruguay/v1/usersmlab/{{idModificar}}"
       content-type="application/json"
       method="PUT"
       handle-as="json"
       on-response="manageAJAXResponse"
       on-error="showError">



 </template>


 <script>
   /**
    * @customElement
    * @polymer
    */
   class ModificarUsuario extends Polymer.Element {
     static get is() { return 'modificar-usuario'; }
     static get properties() {
       return {
         contModificarUsuario:{
           type: Boolean,
           value: true
         },
         email: {
           type: String
         },
         password: {
           type: String
         },
         first_name: {
           type: String
         },
         last_name: {
           type: String
         },
         idModificar:{
           type: String
         },
         mensajeModificar:{
           type: Boolean,
           value: true
         },
         mensajeErrorModificar:{
           type: Boolean,
           value: true
         },
         message: {
           type: String
         },
          messageStyle: {
            type: String
         }
       };
     }

     modificar(e) {
       console.log("El usuario ha pulsado el botón modificar");
       var modificarData = {
         "id" : this.idModificar,
         "first_name" : this.first_name,
         "last_name" : this.last_name,
         "email" : this.email,
         "password" : this.password
       };
       this.$.domodificar.body = JSON.stringify(modificarData);
       this.$.domodificar.generateRequest();
     }

     mostrarDatosRecibidosModificar(data){
        console.log("Receptor modificar:"+JSON.stringify(data));
       this.contModificarUsuario=data.contModificarUsuario;
       this.mensajeModificar=data.mensajeModificar;
       this.mensajeErrorModificar=data.mensajeErrorModificar;
      }

     manageAJAXResponse(data) {
       console.log("Recibida respuesta del servidor para modificar usuario");
       this.first_name = data.detail.response.first_name;
       this.last_name =data.detail.response.last_name;
       this.email = data.detail.response.email;
       this.password = data.detail.response.password;
       this.mensajeModificar=false;
       this.mensajeErrorModificar=true;
     }

     showError(error) {
       console.log("Hubo un error");
       this.message="";

       for (var i in error.detail.request.response)
       {
         if (i == "mensaje"){
            console.log(error.detail.request.response[i][0]);
            console.log(error.detail.request.response[i].resultado);
            this.message+="Parametros incorrectos";
          }
       }
       if (this.message == "")
        this.message = "Ha ocurrido un error procesando su solicitud"

       this.mensajeErrorModificar=false;
     }
   }
   window.customElements.define(ModificarUsuario.is, ModificarUsuario);
 </script>
</dom-module>
