<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="logout-usuario">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>

     <iron-ajax id="hacerLogout"
                url="http://localhost:3000/api-uruguay/v1/logout"
                method="POST"
                content-type="application/json"
               handle-as="json"
               body="[[body]]"
                on-response="mostrarResultadoLogout"
                on-error="mostrarError">
     </iron-ajax>

     <div class="row">
       <input type="email" value={{email::input}} />
       <input type="password" value={{password::input}} />
       <button on-click="logar">Logout</button>
     </div>
     <span hidden$="{{!logado}}">Logout!</span>
 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class LogoutUsuario extends Polymer.Element {
     static get is() { return 'logout-usuario'; }
     static get properties() {
       return {
         email: {
           type: String
         },
         password: {
           type: String
         },
         logado: {
           type: Boolean,
           value: false
         },
         body: {
           type: String
         }
       };
     }
     mostrarResultadoLogout(resultado) {
       console.log("mostrar resultado logout");
       this.logado = false;
       console.log(data.detail.response.email);
       this.email = data.detail.response.email;
       this.password = data.detail.response.password;

     }
     logar() {
       console.log("1. El usuario ha pulsado el botón");

       var jsBody={
         "email": this.email,
         "password": this.password
       }
       this.body = JSON.stringify(jsBody);
       this.$.hacerLogout.generateRequest();
     }

     mostrarError(error) {
       console.log("Ha ocurrido un error");
       console.log(error.detail.request.response.mensaje[0]);
       for (var i in error.detail.request.response)
         console.log(error.detail.request.response[i]);
       this.logado = false;
     }
   }

   window.customElements.define(LogoutUsuario.is, LogoutUsuario);
 </script>
</dom-module>
