<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/simple-dropdown/simple-dropdown.html">
<link rel="import" href="/bower_components/app-router/app-router.html"></script>

<dom-module id="home-usuario">
 <template>
   <style>
     :host {
       display: block;
       font-family: Helvetica;
     }
     .container{
       width: 100%;
       max-width: 600px;
       margin: 0 auto;
       padding: 100px 0;
       top:100px;
       padding-bottom: 10px;
     }
     .container h1{
       color: white;
     }
     .container .navbar-dark   {
       color: white;
    }
    .container .bg-primary {
      background: #0672ca !important;
    }
    simple-dropdown a {
     background: #0672ca !important;
     text-decoration: none;
     color: inherit;
     display: inline-block;
     text-decoration: none;
     padding: 0.5em 1em;
   }
   .container .btn-outline-success{
     color: white;
     border-color:#0b8585
   }
   .container .btn-outline-success:hover {
    background-color: #0b8585
  }
    simple-dropdown .a1 {
      padding-right:27.70px;
    }
    simple-dropdown .a2{
      padding-right: 19.70px;
    }
    simple-dropdown .a3{
      padding-right: 26.80px;
    }
   </style>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

   <div hidden$="{{ishome}}"class="container">
     <h1 class="h1">Bienvenido  {{first_name}}  {{last_name}} </h1>
      <nav class="navbar navbar-expand-lg  navbar navbar-dark bg-primary">
          <a class="navbar-brand" href="#">Home</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-link">
                  <button class="btn btn-outline-success my-2 my-sm-0" on-click="panelusuarios">Usuario</button>
                </li>
                <li class="nav-link">
                  <button class="btn btn-outline-success my-2 my-sm-0" on-click="panelcuentas">Cuentas</button>
                </li>
            </ul>
          </div>
          <button class="btn btn-outline-success my-2 my-sm-0" on-click="logout">Logout</button>
      </nav>
    </div>

    <iron-ajax
    id="dologout"
    url="http://localhost:3000/api-uruguay/v1/logout"
    content-type="application/json"
    method="PUT"
    handle-as="json"
    on-response="manageAJAXResponse"
    on-error="showError">

  </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class HomeUsuario extends Polymer.Element {
     static get is() { return 'home-usuario'; }
     static get properties() {
       return {
         idusu: {
           type: String,
         },
         first_name: {
           type: String
         },
         last_name: {
           type: String
         },
         email: {
           type: String
         },
         account: {
           type: Array
         },
         ishome: {
           type: Boolean,
           value: true
         },
         isLogged: {
           type: Boolean,
           value: true
         },
         first_name: {
           type: String
         },
         last_name: {
           type: String
          },
          contBotonesUsuario:{
           type:Boolean
         },
         contCuentasUsuario:{
           type:Boolean
         },
         contMovimientosCuenta:{
           type:Boolean
          }
       };
     }

    logout() {
       console.log("El usuario ha pulsado el botón logout.");
       var logoutData = {
         "email" : this.email
       };
       this.$.dologout.body = JSON.stringify(logoutData);
       this.$.dologout.generateRequest();
     }

     panelusuarios() {
       console.log("pulsa boton usuarios");
        this.contBotonesUsuario=false;
        this.contCuentasUsuario=true;
        this.contMovimientosCuenta=true;
        this.contCrearMovimiento=true;
       //this.dispatchEvent(new CustomEvent('panelusuarios', {detail:{email:this.email}}))
       this.dispatchEvent(new CustomEvent('panelusuarios', {detail:{email:this.email,contBotonesUsuario:this.contBotonesUsuario,contCuentasUsuario:this.contCuentasUsuario,contMovimientosCuenta:this.contMovimientosCuenta, contCrearMovimiento: this.contCrearMovimiento}}))
    }

    panelcuentas() {
      console.log("pulsa boton cuentas");
      this.isLogged=false;
      this.ishome=false;
      this.contCuentasUsuario=false;
      this.contBotonesUsuario=true;
      this.contMovimientosCuenta=true;
      this.contCrearMovimiento=true;
      this.contAgregarUsuario=true;
      this.contModificarUsuario=true;
      this.contConsultaUsuario=true;
      this.contEliminarUsuario=true;
      this.mensajeErrorAgregarMovimiento=true;

      this.dispatchEvent(new CustomEvent('panelcuentas', {detail:{email:this.email,idusu:this.idusu,contCuentasUsuario:this.contCuentasUsuario,contBotonesUsuario:this.contBotonesUsuario,contMovimientosCuenta:this.contMovimientosCuenta,contAgregarUsuario:this.contAgregarUsuario,contModificarUsuario:this.contModificarUsuario,contConsultaUsuario:this.contConsultaUsuario,contEliminarUsuario:this.contEliminarUsuario,  contCrearMovimiento: this.contCrearMovimiento, mensajeErrorAgregarMovimiento: this.mensajeErrorAgregarMovimiento}}))

   }

    mostrarDatosRecibidos(data){
       console.log("Receptor home:"+JSON.stringify(data));
       this.email = data.email;
       this.ishome= data.ishome;
       this.first_name= data.first_name;
       this.last_name= data.last_name;
       this.isLogged=data.isLogged;
       this.idusu=data.idusu;
     }

     manageAJAXResponse(data) {
       console.log("Recibida respuesta del servidor");
       this.isLogged=false;
       this.ishome=true;
       this.contBotonesUsuario=true;
       this.contCuentasUsuario=true;
       this.contMovimientosCuenta=true;
       this.contAgregarUsuario=true;
       this.contModificarUsuario=true;
       this.contEliminarUsuario=true;
       this.contConsultaUsuario=true;
       this.mensajeErrorLogin=true;
       this.contCrearMovimiento=true;
       this.email = ""
       this.password = "";
       this.dispatchEvent(new CustomEvent('logoutOK', {detail:{email:this.email,first_name:this.first_name,last_name:this.last_name,isLogged:this.isLogged,ishome:this.ishome,contAgregarUsuario:this.contAgregarUsuario,contBotonesUsuario:this.contBotonesUsuario,contCuentasUsuario:this.contCuentasUsuario,contModificarUsuario:this.contModificarUsuario,contMovimientosCuenta:this.contMovimientosCuenta,contConsultaUsuario:this.contConsultaUsuario,contEliminarUsuario:this.contEliminarUsuario,mensajeErrorLogin:this.mensajeErrorLogin, contCrearMovimiento: this.contCrearMovimiento}}))
     }

     showError(error) {
       console.log("Hubo un error");
       console.log(error);
     }
   }
   window.customElements.define(HomeUsuario.is, HomeUsuario);
 </script>
</dom-module>
