<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="eliminar-usuario">
 <template>
   <style>
     :host {
       display: block;
       font-family: Helvetica;
     }
     .container{
       width: 100%;
       max-width: 600px;
       margin: 0 auto;
       padding: 100px 0;
       padding-top: 10px;
     }
     .container .btn-outline-success{
       background: white;
       color: black;
       border-color:#0b8585
     }
     .container .btn-outline-success:hover {
      background-color: #0b8585
     }
     .btn-primary{
       background: #0b8585!important;
     }
     .container h3{color: white}
   </style>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

     <div hidden$="{{contEliminarUsuario}}" class="container">
       <h3>Eliminar Usuario</h3>
       <input type="id" class="form-control" id="idusuario"  placeholder="Id user to delete" value="{{idEliminar::input}}"></br>
       <button  class="btn btn-primary" on-click="eliminar">eliminar</button>
       <br></br>
       <div hidden$="{{mensajeEliminar}}" class="alert alert-success">
         <strong>El usuario se ha eliminado correctamente</strong>
       </div>
       <div hidden$="{{mensajeErrorEliminar}}"class="alert alert-danger">
         <strong>{{message::input}}</strong>
       </div>
     </div>

     <iron-ajax
       id="doeliminar"
       url="http://localhost:3000/api-uruguay/v1/usersmlab/{{idEliminar}}"
       content-type="application/json"
       method="DELETE"
       handle-as="json"
       on-response="manageAJAXResponse"
       on-error="showError">

 </template>


 <script>
   /**
    * @customElement
    * @polymer
    */
   class EliminarUsuario extends Polymer.Element {
     static get is() { return 'eliminar-usuario'; }
     static get properties() {
       return {
         contEliminarUsuario:{
           type: Boolean,
           value: true
         },
         email: {
           type: String
         },
         password: {
           type: String
         },
         first_name: {
           type: String
         },
         last_name: {
           type: String
         },
         idEliminar: {
           type:String
         },
         mensajeEliminar:{
           type: Boolean,
           value: true
         },
         mensajeErrorEliminar:{
           type: Boolean,
           value: true
         },
         message: {
           type: String
         }
       };
     }
     eliminar(e) {
       console.log("El usuario ha pulsado el botón eliminar");
       var eliminarData = {
         "id" : this.id
       };
       this.$.doeliminar.body = JSON.stringify(eliminarData);
       this.$.doeliminar.generateRequest();
     }
     mostrarDatosRecibidosEliminar(data){
       console.log("Receptor eliminar:"+JSON.stringify(data));
       this.contEliminarUsuario=data.contEliminarUsuario;
       this.mensajeEliminar=data.mensajeEliminar;
       this.mensajeErrorEliminar=data.mensajeErrorEliminar;
      }

     manageAJAXResponse(data) {
       console.log("Recibida respuesta del servidor para eliminar usuario");
       this.first_name = data.detail.response.first_name;
       this.last_name =data.detail.response.last_name;
       this.ideli=data.detail.response.id;
       this.email = data.detail.response.email;
       this.password = data.detail.response.password;
       this.mensajeEliminar=false;
       this.mensajeErrorEliminar=true;
     }

     showError(error) {
      //  console.log("Hubo un error");
      //  console.log(error.detail.request.response.mensaje[0]);
      //  for (var i in error.detail.request.response)
      //    console.log(error.detail.request.response[i]);
       //
      //  this.mensajeErrorEliminar=false;

       console.log("Hubo un error");
       this.message = "";

       if(this.idEliminar != undefined)
       {
         for (var i in error.detail.request.response)
         {
           if (i == "mensaje"){
              console.log(error.detail.request.response[i][0]);
              console.log(error.detail.request.response[i].resultado);
              this.message+="Parametros incorrectos";
            }
         }
         if (this.message == "")
          this.message = "Ha ocurrido un error procesando su solicitud"
        }
        else {
          this.message = "Parametros incorrectos"
        }

       this.mensajeErrorEliminar=false;

     }
   }
   window.customElements.define(EliminarUsuario.is, EliminarUsuario);
 </script>
</dom-module>
