<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="movimientos-usuario">
 <template>
   <cuentas-usuario id="CuentasUsuario"></cuentas-usuario>
   <style>
     :host {
       display: block;
       font-family: Helvetica;
     }
     .container{
       width: 100%;
       max-width: 600px;
       margin: 0 auto;
       padding: 100px 0;
       padding-top: 10px;
     }
     .container h4{
       font-family: Helvetica;
       color: white;
     }
     .container h3{
       font-family: Helvetica;
       color: white;
     }
     .container .table .thead-dark th{
       background:  #0672ca !important
     }
     .container .table-bordered th{
       background: white
     }
     .container .table-bordered td{
       background: white
     }
   </style>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

     <div hidden$="{{contMovimientosCuenta}}" class="container">
         <table class="table table-bordered">
            <thead class="thead-dark">
                <tr class="text-center">
                    <th>Fecha</th>
                    <th>Importe</th>
                    <th>Descripcion</th>
                </tr>
            </thead>
            <tbody>
                <template is="dom-repeat" items={{listMovements}} as="val">
                    <tr width="100">
                        <td style="vertical-align: middle;">{{val.fecha}}</td>
                        <td style="vertical-align: middle;">{{val.importe}}</td>
                        <td style="vertical-align: middle;">{{val.descripcion}}</td>
                    </tr>
                  </template>
            </tbody>
         </table>
   </div>

   <div hidden$="{{contCrearMovimiento}}" class="container" onsubmit="return(false)">
     <h3>Depositar efectivo</h3>
     <input type="date" class="form-control" id="date"  placeholder="Enter date" value="{{date::input}}" required></br>
     <input type="number" step="0.01" class="form-control" id="amount"  placeholder="Enter amount" value="{{amount::input}}" required></br>
     <input type="description" class="form-control" id="description"  placeholder="Enter description" value="{{description::input}}" required></br>
     <button  class="btn btn-primary" on-click="agregarMovimiento">agregar</button><br></br>
     <div hidden$="{{mensajeAgregarMovimiento}}"class="alert alert-success">
       <strong>Se ha realizado la acreditación correctamente</strong>
     </div>
     <div hidden$="{{mensajeErrorAgregarMovimiento}}"class="alert alert-danger">
       <strong>{{message::input}}</strong>
     </div>
   </div>

   <iron-ajax
     auto=""
     id="getUser"
     url="http://localhost:3000/api-uruguay/v1/usersmlab/{{idr}}"
     headers="{{headers}}"
     handle-as="json"
     on-response="showData">
    <iron-ajax
       auto=""
       id="getTransactions"
       url="http://localhost:3000/api-uruguay/v1/usersmlab/{{idr}}/accounts/{{idcue}}/transactions"
       handle-as="json"
       on-response="showmovement">
     <iron-ajax
        id="doAgregarMovimiento"
        url="http://localhost:3000/api-uruguay/v1/usersmlab/{{idr}}/accounts/{{idcue}}/transaction"
        method="POST"
        content-type="application/json"
        headers="{{headers}}"
        handle-as="json"
        on-response="manageAJAXResponse"
        on-error="showError">
     <iron-ajax
        auto=""
        id="getAccount"
        url="http://localhost:3000/api-uruguay/v1/usersmlab/{{idr}}/account"
        handle-as="json"
        on-response="showaccount">
      </iron-ajax>
      <iron-localstorage name="techu.jwt" value="{{jwt}}"></iron-localstorage>

 </template>


 <script>
   /**
    * @customElement
    * @polymer
    */
   class MovimientosUsuario extends Polymer.Element {
     static get is() { return 'movimientos-usuario'; }
     static get properties() {
       return {
         contMovimientosCuenta:{
           type:Boolean,
           value:true
         },
         first_name: {
           type: String
         },
         last_name: {
           type: String
         },
         email: {
           type: String
         },
         listMovements: {
           type: Array
         },
         idr:{
           type:String,
         },
         idcue:{
           type:String,
         },
         contCrearMovimiento:{
           type:Boolean,
           value:true
         },
         date: {
           type: Date
         },
         amount: {
           type: Number
         },
         description: {
           type: String
         },
         mensajeAgregarMovimiento:{
          type:Boolean,
          value: true
        },
         mensajeErrorAgregarMovimiento:{
           type: Boolean,
           value: true
         },
         account: {
           type: Array
         },
         message: {
           type: String
         },
         jwt: {
          type: String
         },
         headers: {
          type: String
         }
       };
     }

     ready(){
       super.ready()
       this.$.CuentasUsuario.addEventListener('cuentasUsuarios', e => {this.procesarCuentasUsuario(e)})
     }

     agregarMovimiento(e) {
       this.message ="";
       console.log("El usuario ha pulsado el botón agregar movimiento");
       if(this.date != undefined && this.amount != undefined  && this.description != undefined )
       {
         console.log(this.description);

         var agregarData = {
           "date" : this.date,
           "amount" : this.amount,
           "description" : this.description
         };
         console.log(this.jwt);
         this.$.doAgregarMovimiento.body = JSON.stringify(agregarData);
         this.headers = JSON.stringify({'Authorization': this.jwt});
         this.$.doAgregarMovimiento.generateRequest();
        }
        else {
          this.message+="Parametros incorrectos";
          this.mensajeErrorAgregarMovimiento=false;

          // this.message="";
          // this.messageStyle="alert alert-danger";
          // for (var i in error.detail.request.response)
          //    this.message+=error.detail.request.response[i].msg+",";
          // this.$.messageGlobal.open();
        }
     }

     showData(data){
        console.log("Recibidos datos del usuario:");
        this.id = data.detail.response.id;
        this.first_name = data.detail.response.first_name;
        this.last_name = data.detail.response.last_name;
        this.email = data.detail.response.email;
      }

      showmovement(data){
         console.log("Recibidos datos del movimiento:");
         this.listMovements = data.detail.response.transactions;
       }

       domovement(data){
          console.log("Recibidos datos para realizar transferencia:");
          this.listMovements = data.detail.response.transactions;
        }

       mostrarDatosRecibidosmovimientos(data){
         console.log("mostrarDatosRecibidosmovimientos:");
          this.idcue=data.idcue;
          this.idr=data.idr;
          this.contMovimientosCuenta=data.contMovimientosCuenta;
          this.contCrearMovimiento=data.contCrearMovimiento;
          this.mensajeAgregarMovimiento=data.mensajeAgregarMovimiento;
          this.mensajeErrorAgregarMovimiento=data.mensajeErrorAgregarMovimiento;
       }

       manageAJAXResponse(data) {
         console.log("Recibida respuesta del servidor para agregar movimiento");
         console.log(data.detail.response);
         this.date = data.detail.response.first_name;
         this.amount = data.detail.response.first_name;
         this.description = data.detail.response.first_name;
         this.mensajeAgregarMovimiento=false;
         this.mensajeErrorAgregarMovimiento=true;
         this.$.getTransactions.generateRequest();
         this.$.getAccount.generateRequest();
       }

       showError(error) {
        //  console.log("Hubo un error");
        //  console.log(error);
        //  this.mensajeErrorAgregarMovimiento=false;

         console.log("Hubo un error");
         this.message="";

         for (var i in error.detail.request.response)
         {
           if (i == "mensaje"){
              console.log(error.detail.request.response[i][0]);
              console.log(error.detail.request.response[i].resultado);
              this.message+="Parametros incorrectos";
            }
         }
         if (this.message == "")
          this.message = "Ha ocurrido un error procesando su solicitud"

         this.mensajeErrorAgregarMovimiento=false;

       }

       showaccount(data){
          console.log("Recibidos datos del usuarios en cuentas para movimiento de usuarios:");
          console.log(data.detail.response);
          this.idcue = data.detail.response[0].idCuenta;
          this.account = data.detail.response;
          this.dispatchEvent(new CustomEvent('paneltransferencia', {detail:{email:this.email,idr:this.idr,idcue:this.idcue,contMovimientosCuenta:this.contMovimientosCuenta, contAgregarUsuario:this.contAgregarUsuario, contModificarUsuario:this.contModificarUsuario, contEliminarUsuario:this.contEliminarUsuario,contBotonesUsuario:this.contBotonesUsuario, contCrearMovimiento: this.contCrearMovimiento, mensajeAgregarMovimiento: this.mensajeAgregarMovimiento, mensajeErrorAgregarMovimiento: this.mensajeErrorAgregarMovimiento}}))
        }

        procesarCuentasUsuario(e){
          console.log("Movimiento soy Padre Soy procesarCuentasUsuario:"+ e.detail);
          this.$.CuentasUsuario.mostrarDatosCuentaActualizados(e.detail)
        }
   }

   window.customElements.define(MovimientosUsuario.is, MovimientosUsuario);
 </script>
</dom-module>
